/* --------------------------------- Start Media Screen--------------------------------- */
/* ================================Max-width:1024px;======================================== */
@media (max-width: 1024px) {
  /* --------------Start Nav--------------  */
  .logo h3 {
    display: none;
  }
  .logo img {
    max-width: 30px;
  }
  .nav-links {
    gap: 30px;
  }
  /* --------------Start Header--------------  */
  header {
    min-height: 76vh;
  }
  /* --------------Start Services--------------  */
  .services-content {
    grid-template-columns: 1fr 1fr;
  }
  /* --------------Start Contact--------------  */
  form {
    width: 80%;
  }
}
/* ===================================================Max-width:600px;========================================== */
@media (max-width: 600px) {
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 20px;
  }
  h5 {
    font-size: 17px;
  }
  p {
    font-size: 16px;
  }
  small {
    font-size: 15px;
  }
  /* --------------Start Nav-------------- */
  nav {
    height: 4rem;
  }
  .nav-links {
    gap: 0;
    justify-content: space-around;
    width: 100%;
    margin-left: 1rem;
  }
  .nav-links li a {
    font-size: 16px;
  }
  /* --------------Start Header-------------- */
  header {
    min-height: fit-content;
  }
  .header-container {
    grid-template-columns: 1fr;
  }
  .header-right {
    grid-row: 1;
    padding-top: 3rem;
    width: 80%;
    margin: auto;
  }
  .header-left {
    text-align: center;
  }
  .header-container p {
    margin-top: 10px;
    margin-bottom: 16px;
  }
  .header-social {
    position: relative;
  }
  .header-social h5 {
    display: none;
  }
  .social-link {
    margin: auto;
    margin-top: 20px;
  }
  /* --------------Start Services-------------- */
  .services-content {
    grid-template-columns: 1fr;
    gap: 3%;
    width: 90%;
    margin: auto;
  }
  /* --------------Start Recent Projects-------------- */
  .projects-content {
    width: 90%;
    margin: auto;
    grid-template-columns: 1fr;
  }
  /* --------------Start Contact Form-------------- */
  form {
    width: 90%;
  }
  /* --------------Start Footer--------------*/
  footer {
    height: 4rem;
  }
}
/* =================================================Max-width:375px;=================================== */
@media (max-width: 375px) {
  /* --------------Start Nav-------------- */
  .logo {
    display: none;
  }
  .nav-links {
    margin: 0;
  }
}
/* --------------------------------- End  Media Screen--------------------------------- */
